/***** VARIABLES *****/
$witr_blue: #06a7e1
    
/***** BASE *****/
    /* Container */
body
    font-family: sans-serif

#container
    width: 95vw
    margin: auto auto


/***** LAYOUT *****/
header 
    h1 
        font-size: 5em
        width: 100%
    h2
        font-size: 1.1em
        font-weight: lighter
        width: 100%
        margin-bottom: 40px


/***** MODULES *****/
    /* Search Bar */
#search_container
    input, .time_dropdown
        width: 100%

    input 
        border-width: 0 0 1px

        &:focus
            border-color: $witr_blue

    .time_dropdown 
        position: relative
        display: inline-block

    .time_dropdown_content 
        display: none
        position: absolute
        width: 100%
        z-index: 1
        background-color: white
        border: 1px solid black

        &:hover 
            cursor: pointer

        span 
            display: block

    /* Tracks */
table 
    width: 100%
    margin-top: 25px

    thead
        max-height: 50px
        background-color: #2A2C2D
        
        h4
            margin: 0
            color: white

    tr
        display: flex
        padding: 7px

    tr:nth-child(even)
        background-color: #f9f9f9

    th
        text-align: left

    .artist_clmn, .title_clmn, .play_time_clmn, .delete_clmn
        flex: 1

    .updating_artist, .updating_title, .updating_time, .submit_update_btn, .cancel_update_btn
        display: none

    .delete_btn
        background-color: red


/***** STATE *****/
    /* Input Validation */
.error
    display: block

.search_error_box
    display: block
    float: left
    width: 100%

/* Temorary Hiding While Working on Styles */
#add_track_btn, .update_btn, .delete_clmn
    display: none
