/* Base Layout Module State Theme */

/***** VARIABLES *****/
$witr_blue: #06a7e1
$zebra_highlight: #fbfbfb;


/***** BASE *****/
    /* Container */
body
    font-family: sans-serif
    margin: 0

button
    padding: 0
    margin: 0
    border: none

#container
    margin: 0

    a.home_link
        display: inline-block
        height: 64px
        width: 64px

input 
    outline: none

.transparent 
    color: transparent !important


/***** LAYOUT *****/
header 
    margin: 20px

    h1 
        font-size: 5em
        width: 100%
        margin: 0
        margin-bottom: 30px

        img.signal_glyph
            width: 50px
            height: auto
            margin: 0px 10px 0px 7px

    h2
        font-size: 1.1em
        font-weight: 400
        width: 100%
        margin-top: 0
        margin-bottom: 20px


/***** MODULES *****/
    /* Search Bar */
#search_container
    margin: 0px 20px 30px 20px

    .search_revealer 
        width: 100%
        display: none

    .search_content
        width: 100%

    /* Input styles */
    input, .time_dropdown
        width: 100%

    input 
        border-width: 0 0 1px
        height: 35px
        font-size: 1em

        &:focus
            border-color: $witr_blue

    ::placeholder
        color: #969696

    .search_label
        color: #8b8b8b
        font-size: .8em
        font-weight: bold
        display: none

    /* Glyphs in search */
    input#date_search_input
        background: url(../../images/cal.png) no-repeat scroll 
        background-position: right

    input#start_search_input, input#end_search_input
        background: url(../../images/down_arrow.png) no-repeat scroll
        background-position: right

    /* Dropdown menus */
    .time_dropdown 
        position: relative
        display: inline-block

    .time_dropdown_content 
        display: none
        position: absolute
        min-width: 80px
        width: calc(100% - 20px)
        z-index: 1
        background-color: white
        border: 1px solid black
        padding: 10px
        font-size: 1.1em
        line-height: 2em

        &:hover 
            cursor: pointer

        span 
            display: block

    /* Search button */
    input#search_btn 
        height: 40px
        background-color: $witr_blue
        color: white
        font-size: 1.1em
        margin-top: 10px
        flex-basis: 40px

    /* Tracks */
table
    width: 100%
    padding-left: 5px
    padding-right: 5px

    thead
        background-color: #2A2C2D
       
        & th
            padding: 0 

        & th:not(:first-of-type)
            position: relative
        
        h4
            margin: 0
            color: white

    tr
        display: flex
        padding: 7px

    tr:not(:last-child)
        border-bottom: 1px solid #e7e7e7

    td
        padding: 0

    // ***** TESTING OUT NO HIGHLIHGTS IN TABLE ******** //
    tr:nth-child(even)
        background-color: $zebra_highlight

    th
        text-align: left

    .artist_clmn, .title_clmn, .play_time_clmn
        flex: 1

/***** STATE *****/
    /* Input Validation */
.error
    display: block

.search_error_box
    display: block
    width: 100%
    color: red

.has_error
    margin-bottom: 10px

    /* Media Queries */
@media (min-width: 600px)
    #search_container
        position: relative

        div.search_revealer
            width: calc(100% - 40px)

        div.search_content
            display: flex

        div.search_error_box
            display: block

        input#search_btn
            width: 40px
            color: transparent
            background: url(../../images/mag_glass.png) no-repeat scroll
            background-position: 50% 50%
            background-color: $witr_blue
            position: absolute
            bottom: 0px
            right: 0px

        .search_label
            display: block

        // Space search elements from each other
        .ds_container
            width: 100px
            margin-right: 40px

        .ss_container
            width: 85px
            margin-right: 20px

        .es_container
            width: 85px            
            margin-right: 40px

        .as_container
            margin-right: 20px

        .ts_container
            margin-right: 40px

        .as_container, .ts_container
            flex: 1

@media (min-width: 850px) 
    header
        margin: 40px 100px 40px 100px

        h1 
            font-size: 6.5em

            img.signal_glyph
                width: 61px
                height: auto
                margin: 0px 10px 0px 7px

        h2
            font-size: 1.5em
            margin-bottom: 0

    #search_container
        padding: 0px
        margin: 0px 100px 100px 100px

    #add_track_btn_container 
        margin-top: -70px

    table
        padding: 0 50px 0 50px

        thead#column_headers tr
            height: 20px
            padding: 10px 30px 10px 30px

        tr
            padding: 15px 30px 15px 30px
            font-size: 1.1em

@media (min-width: 1240px)
    header, #search_container
        width: 940px
        margin: 40px auto 40px auto

    #search_container
        margin-bottom: 100px

@media (min-width: 1340px)
    table
        width: 1240px
        margin: auto auto
        padding: 0


/* Priveledged user styles */
// #add_track_btn_container, .update_clmn, .delete_clmn
//     display: none

#add_track_btn_container
    width: 100%
    margin-bottom: 30px
    display: flex
    justify-content: center

    #add_track_btn
        width: 150px
        height: 40px
        background-color: $witr_blue
        font-size: 1.1em
        color: white

table 
    .privileged_btn_clmn
        width: 75px

        button
            width: 100%
            height: 100%
        
    .privileged_inpt_clmn
        flex: 1

    .privileged_btn_clmn, .privileged_inpt_clmn
        display: none

    .update_clmn, .delete_clmn
        display: table-cell

    .delete_btn
        background-color: red

    input 
        margin: 0
        padding: 0
        font-size: 1em
        border: none
        background-color: transparent
        border-bottom: 1px solid $witr_blue