/* Container */
#container {
    width: 60rem;
    margin: auto auto;
}

/* Search Bar */
#search_container {
    display: flex;
    float: right;
}

.time_dropdown {
    position: relative;
    display: inline-block;
}

.time_dropdown_content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}

.time_dropdown_content:hover {
    cursor: pointer;
}

.time_dropdown_content span {
    display: block;
}

/* Tracks */
table {
    width: 100%;
}

tr {
    display: flex;
    padding: 7px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th {
    text-align: left;
}

.artist_clmn, .title_clmn, .play_time_clmn, .delete_clmn {
    flex: 1;
}

.updating_artist, .updating_title, .updating_time, .submit_update_btn, .cancel_update_btn {
    display: none;
}

.delete_btn {
    background-color: red;
}

/* Input Validation */
.error {
    display: block;
}