/* Base Layout Module State Theme */
/***** VARIABLES *****/
/***** BASE *****/
/* Container */
body {
  font-family: sans-serif;
  margin: 0; }

#container {
  margin: 0; }
  #container a.home_link {
    display: inline-block;
    height: 64px;
    width: 64px; }

input {
  outline: none; }

.transparent {
  color: transparent !important; }

/***** LAYOUT *****/
header {
  padding: 20px; }
  header h1 {
    font-size: 5em;
    width: 100%;
    margin: 0;
    margin-bottom: 30px; }
  header h2 {
    font-size: 1.1em;
    font-weight: 400;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px; }

/***** MODULES *****/
/* Search Bar */
#search_container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  /* Input styles */
  /* Glyphs in search */
  /* Dropdown menus */
  /* Search button */
  /* Tracks */ }
  #search_container .search_revealer {
    width: 100%;
    display: none; }
  #search_container input, #search_container .time_dropdown {
    width: 100%; }
  #search_container input {
    border-width: 0 0 1px;
    height: 35px;
    font-size: 1em; }
    #search_container input:focus {
      border-color: #06a7e1; }
  #search_container ::placeholder {
    color: #969696; }
  #search_container .search_label {
    color: #8b8b8b;
    font-size: .8em;
    font-weight: bold;
    display: none; }
  #search_container input#date_search_input {
    background: url(../../images/cal_glyph.png) no-repeat scroll;
    background-position: right; }
  #search_container input#start_search_input, #search_container input#end_search_input {
    background: url(../../images/down_arrow.png) no-repeat scroll;
    background-position: right; }
  #search_container .time_dropdown {
    position: relative;
    display: inline-block; }
  #search_container .time_dropdown_content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: white;
    border: 1px solid black; }
    #search_container .time_dropdown_content:hover {
      cursor: pointer; }
    #search_container .time_dropdown_content span {
      display: block; }
  #search_container input#search_btn {
    height: 40px;
    background-color: #06a7e1;
    color: white;
    font-size: 1.1em;
    margin-top: 10px;
    flex-basis: 40pxs; }

table {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px; }
  table thead {
    max-height: 50px;
    background-color: #2A2C2D; }
    table thead th {
      padding: 0; }
    table thead th:not(:first-of-type) {
      position: relative; }
    table thead h4 {
      margin: 0;
      color: white; }
  table tr {
    display: flex;
    padding: 7px; }
  table td {
    padding: 0; }
  table tr:nth-child(even) {
    background-color: #f9f9f9; }
  table th {
    text-align: left; }
  table .artist_clmn, table .title_clmn, table .play_time_clmn, table .delete_clmn {
    flex: 1; }
  table .updating_artist, table .updating_title, table .updating_time, table .submit_update_btn, table .cancel_update_btn {
    display: none; }
  table .delete_btn {
    background-color: red; }

/***** STATE *****/
/* Input Validation */
.error {
  display: block; }

.search_error_box {
  display: block;
  float: left;
  width: 100%;
  /* Media Queries */ }

@media (min-width: 600px) {
  #search_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    #search_container div.search_revealer {
      display: flex;
      width: calc(100% - 40px);
      flex-direction: row; }
    #search_container input#search_btn {
      width: 40px;
      color: transparent;
      background: url(../../images/mag_glass.png) no-repeat scroll;
      background-position: 50% 50%;
      background-color: #06a7e1; }
    #search_container .search_label {
      display: block; }
    #search_container div.search_error_box {
      width: 0; }
    #search_container .ds_container {
      margin-right: 40px; }
    #search_container .ss_container {
      margin-right: 20px; }
    #search_container .es_container {
      margin-right: 40px; }
    #search_container .as_container {
      margin-right: 20px; }
    #search_container .ts_container {
      margin-right: 40px; }
    #search_container .ds_container, #search_container .ss_container, #search_container .es_container {
      flex: 1; }
    #search_container .as_container, #search_container .ts_container {
      flex: 2; } }

/* Temorary Hiding While Working on Styles */
#add_track_btn, .update_btn, .delete_clmn {
  display: none; }

/*# sourceMappingURL=../css/main.sass.css.map */