{% extends "layout.html" %}

{% block head %}
    {% if detailed %}
        <script>var detailed = true</script>
    {% else %}
        <script>var detailed = false</script>
    {% endif %}
{% endblock %}

{% block body %}
<div id="container">
    <img class="banner" src='../static/images/bannerx2.png'>
    <div class="banner_tinter"></div>
    <a class="home_link" href="https://witr.rit.edu">
        <img class="logo" src="{{ url_for('static', filename='images/WITR_logo.png') }}"/>
    </a>
    <div class="white_block"></div>
    <div class="white_block_2"></div>
    <header>
	    <h1>{{ stream_type }} PLAYLIST</h1>
    </header>
    <div id="search_container">
        <div class="search_revealer">
            <div class="search_error_box"></div>
            <div class="search_content">
                <div class="ds_container">
                    <label class="search_label">DATE</label>
                    <input id="date_search_input" readonly type="text" class="datepicker-here"        
                        data-position="bottom left"
                        data-language="en"
                        placeholder="Date">
                </div>
                <div class="time_dropdown ss_container dropdown">
                    <label class="search_label">BETWEEN</label>                
                    <input id="start_search_input" readonly type="text" placeholder="Start Time">
                    <div class="time_dropdown_content dropdown_content">
                        <span>12:00 am</span>
                        {% for n in range(11) %} <span>{{n+1}}:00 am</span> {% endfor %}
                        <span>12:00 pm</span>
                        {% for n in range(11) %} <span>{{n+1}}:00 pm</span> {% endfor %}
                    </div>
                </div>
                <div class="time_dropdown es_container dropdown">
                    <span class='transparent search_label'>nosho</span>                
                    <input id="end_search_input" readonly type="text" placeholder="End Time">
                    <div class="time_dropdown_content dropdown_content">
                        <span>12:00 am</span>
                        {% for n in range(11) %} <span>{{n+1}}:00 am</span> {% endfor %}
                        <span>12:00 pm</span>
                        {% for n in range(11) %} <span>{{n+1}}:00 pm</span> {% endfor %}
                        <span>11:59 pm</span>
                    </div>
                </div>
                <div class="as_container">
                    <label class="search_label">ARTIST</label>                
                    <input id="artist_search_input" type="text" placeholder="Artist">
                </div>
                <div class="ts_container">
                    <label class="search_label">SONG</label>                
                    <input id="title_search_input" type="text" placeholder="Title">        
                </div>
            </div>
        </div>
        <input id="search_btn" type="submit" value="SEARCH">
    </div>
    {% if in_subnet == true %}
        <div id="add_track_btn_container">
            <button id="add_track_btn">ADD TRACK</button>
        </div>
    {% endif %}
    <table id="tracks">
        <thead id="column_headers">
            <tr class="noremove">
                <th class="artist_clmn"><h4>ARTIST</h4></th>
                <th class="title_clmn"><h4>TITLE</h4></th>
                <th class="play_time_clmn"><h4>PLAY TIME</h4></th>
                {% if detailed or in_subnet == true %}
                    <th class="group_clmn"><h4>GROUP</h4></th>
                {% endif %}
                {% if in_subnet == true %}
                    <th class="update_clmn privileged_btn_clmn"></th>
                    <th class="delete_clmn privileged_btn_clmn"></th>
                {% endif %}
            </tr>
        </thead>
        <!-- the tracks -->
    </table>
    <button id='load_more' class='loading'></button>
</div>
{% endblock %}
