{% extends "layout.html" %}

{% block head %}
    {% if detailed %}
        <script>var detailed = true</script>
    {% else %}
        <script>var detailed = false</script>
    {% endif %}
{% endblock %}

{% block body  %}
<div id="container"> 
    <div><a href="https://witr.rit.edu"><h1>WITR 89.7</h1></a></div>
    <div><h2 class="text-right">(Near) Endless Song Logger</h2></div>
    <input id='artistInput' type="text" placeholder="Artist">
    <input id='titleInput' type="text" placeholder="Title">
    <input id="Search" class="button" type="submit" value="Search">
    <table>
        <thead id="column_headers">
        <tr>
            <th><h4>Artist</h4></th>
            <th><h4>Title</h4></th>
            <th><h4>Play Time</h4></th>
            {% if detailed == true %}
                <th><h4>rvdl</h4></th>
                <th><h4>group</h4></th>
                <th><h4>Requester</h4></th>
            {% endif %}
        </tr>
        </thead>
        <!-- the tracks -->
    </table>
</div>
{% endblock %}

{% block html_end %}
    <script rel="logger-js" src="{{ url_for('static', filename='logger/main.js') }}"></script>
{% endblock %}
