<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WITR 89.7 almost endless music logger</title>

        <!-- replace links with either nginx serving them or pulling from internet source -->
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='logger/main.css') }}"/>

        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='air-datepicker/css/datepicker.min.css') }}">


        <script rel="jquery" 
            src="{{ url_for('static', filename='jQuery/jquery.js') }}"></script>

        <script rel="airdatepicker-js" 
            src="{{ url_for('static', filename='air-datepicker/js/datepicker.min.js') }}"></script>
        <script rel="airdatepicker-en-js" 
            src="{{ url_for('static', filename='air-datepicker/js/datepicker.en.js') }}"></script>

        <script rel="socketIO" 
            src="{{ url_for('static', filename='socketIO/socket.io.min.js') }}"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block html_end %}{% endblock %}
</html>
