<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WITR 89.7 almost endless music logger</title>

        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='logger/css/main.sass.css') }}"/>

        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='air-datepicker/css/datepicker.min.css') }}"> 
            
        <script rel="socketIO" 
            src="{{ url_for('static', filename='socketIO/socket.io.min.js') }}"></script> 
            
        <!-- The next 3 js files need to be included above the body because 'in_subnet.js'
            and 'groups.js' needs to be run before the body loads, and they require jquery -->
        <script rel="jquery" 
            src="{{ url_for('static', filename='jQuery/jquery.js') }}"></script>

        <script rel="in_subnet" 
            src="{{ url_for('static', filename='logger/js/in_subnet.js') }}"></script>    
            
        <script rel="groups"
            src="{{ url_for('static', filename='logger/js/groups.js') }}"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script rel="helpers" 
        src="{{ url_for('static', filename='logger/js/helpers.js') }}"></script>

    <script rel="is_main_logger" 
        src="{{ url_for('static', filename='logger/js/is_main_logger.js') }}"></script>

    <script rel="sockets" 
        src="{{ url_for('static', filename='logger/js/sockets.js') }}"></script>

    <script rel="airdatepicker-js" 
        src="{{ url_for('static', filename='air-datepicker/js/datepicker.min.js') }}"></script>

    <script rel="airdatepicker-en-js" 
        src="{{ url_for('static', filename='air-datepicker/js/datepicker.en.js') }}"></script>

    <script rel="handlers" 
        src="{{ url_for('static', filename='logger/js/handlers.js') }}"></script>

    {% block html_end %}{% endblock %}
</html>
